@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*ROOT VARAIBLES*/
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #6ddc9c;
    --color-warning: #f9c851;
    --color-withe: #ffffff;
    --color-info-dark: #2c3e50;
    --color-info-light: #34495e;
    --color-info: #3b5998;
    --color-info-lighter: #e7e7e7;
    --color-info-lightest: #ffffff;
    --color-primary-variant: #111e88;
    --color-dark-variant: #111e88;
    --color-dark: #111e88;
    --color-dark-variant: #111e88;
    --color-background: #f5f5f5;

    --card-border-radius: 2rem;
    --card-border-radius-1: 0.4rem;
    --card-border-radius-2: 0.8rem;
    --card-border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding: 1.2rem;

    -box-shadow: 0 2rem 3rem var(--color-info-light);

}

* {
    margin: 0;
    padding: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}
container{
    display: grid;
    width: 100%;
    margin: 0 auto;
    background: var(--color-background);
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));

}
a {
    color: var(--color-primary);
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
     font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.76rem;
}
profile-photo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 1rem;
}
text-muted{
    color: var(--color-info-dark);

}
p{
  color: var(--color-dark-variant);

}
/*BUTTONS*/
b{
    color: var(--color-dark);
}
primary{
    color: var(--color-primary);
}
danger{
    color: var(--color-danger);
}
success{
    color: var(--color-success);
}
warning{
    color: var(--color-warning);
}
info{
    color: var(--color-info);
}
aside{
    background: var(--color-info-lighter);
    padding: 1.2rem;
    border-radius: var(--card-border-radius-1);
    margin-bottom: 1.2rem;
}
aside.top{
background: var(--color-info-lightest);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;
}
aside.logo{
    display: flex;
    gap: 1.2rem;
 }
aside.logo img{
    width: 2rem;
    height: 2rem;
}
aside.side{
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    align-items: center;
    justify-content: space-between;
}
aside h3{
  front-weight: 500;
}
aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3rem;
    transition: all 0.3s ease;
}
aside .sidebar a span{
    font-size: 1.2rem;
    transition: all 0.3s ease;
}
aside .sidebar a:last-child{
 position: absolute;
    bottom: 2rem;
    width: 100%;
}
aside .sidebar a.active{
    background: var(--color-info-lightest);
    color: var(--color-primary);
    margin-left: 0;

}
aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
aside .sidebar a.active span{
   color: var(--color-primary);
    margin-left: calc(2rem - 6px);
}
aside .sidebar a:hover{
    background: var(--color-info-lightest);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar .message-count{
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-danger);
    color: var(--color-withe);
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: 500;
}
